In [11]:
import numpy as np
import pandas as pd
import spacy
import nltk
from nltk import word_tokenize
import string
from nltk.corpus import stopwords

from spacy.tokenizer import Tokenizer
from spacy.lang.en import English

In [12]:
# load data
data = pd.read_csv('SEM-2012-SharedTask-CD-SCO-training-simple.v2.txt', sep="\t", header=None)
data.columns = ['annotator', 'sentence_id', 'token_id', 'token', 'label']

In [13]:
#define pipeline 
nlp = spacy.load('en_core_web_sm')

In [14]:
# define punctuations
punctuations = string.punctuation
punctuations = punctuations.replace("'", '')
punctuations = punctuations.replace('`', '')

# define stopwords
all_stopwords = stopwords.words('english')
adjusted_stopwords = [e for e in all_stopwords if e not in ('ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't",
'don', "don't", 'should', 't', 'can', 'no', 'nor', 'not', 'only', 'do', 'does', 'are', 'was', 'were', 'have', 'has', 'had', 'against', 'by', 'the', 'for')]

# function for removing punctiations
def remove_punctuations(text):
    for punctuation in punctuations:
        text = text.replace(punctuation, '')
    return text

In [15]:
# apply lowering, removing punctuations and deleting stopwords 
data['token_lower'] = data['token'].str.lower()
data['token_no_punct'] = data['token_lower'].apply(remove_punctuations)
data['token_no_stop'] = data['token_no_punct'].apply(lambda x: ' '.join([word for word in x.split() if word not in (adjusted_stopwords)]))

In [16]:
# remove examples with empty token 
data['token_no_stop'].replace('', np.nan, inplace=True)
data.dropna(subset=['token_no_stop'], inplace=True)

In [17]:
data

,annotator,sentence_id,token_id,token,label,token_lower,token_no_punct,token_no_stop
0,baskervilles01,0,0,Chapter,O,chapter,chapter,chapter
1,baskervilles01,0,1,1.,O,1.,1,1
2,baskervilles01,0,2,Mr.,O,mr.,mr,mr
3,baskervilles01,0,3,Sherlock,O,sherlock,sherlock,sherlock
4,baskervilles01,0,4,Holmes,O,holmes,holmes,holmes
...,...,...,...,...,...,...,...,...
65444,baskervilles14,270,56,the,O,the,the,the
65445,baskervilles14,270,57,russet,O,russet,russet,russet
65446,baskervilles14,270,58,slopes,O,slopes,slopes,slopes
65448,baskervilles14,270,60,the,O,the,the,the
65449,baskervilles14,270,61,moor,O,moor,moor,moor